.main-section {
  max-height: 11500px;
  transition-property: max-height, height;
  transition-duration: 250ms;
  height: auto;
  padding-bottom: 60px;
}
.main-content {
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  .main-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    padding-bottom: 112px; /* 132 - 20 */
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
  }
}
.filter-path {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .filter-path {
    margin-bottom: 32px;
  }

  .main-content {
    padding-bottom: 60px; /* 80 - 20 */
  }
}

.filter-path-start {
  font-weight: 400;
  font-size: 28px;
  line-height: 136%;
  display: inline;
}

.filter-path-part {
  font-size: 20px;
  text-transform: capitalize;
  color: #24242480;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .filter-path-start {
    font-size: 44px;
  }
  .filter-path-part {
    font-size: 24px;
  }

  .filter-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .filter-wrapper:has(.search-form.invisiable) {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1440px) {
  .filter-wrapper {
    gap: 30px;
    width: fit-content;
  }
}

.filters-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: rgba(36, 36, 36, 0.6);
  line-height: 143%;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .filters-list {
    height: 32px;

    align-items: center;
  }
}

.filters-item {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .filters-item {
    font-size: 16px;
  }
}

.filters-item:hover {
  cursor: pointer;
}

.filters-item::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 2px;
  background-color: #242424;
  height: 2px;
  width: 0px;
  transition: width 250ms, left 250ms;
}

.filters-item.active {
  color: #242424;
}
.filters-item.active::before {
  width: 100%;
  left: 0;
}
