<footer class="footer">
  <div class="footer-container">
    <div class="footer-columns">
      <div class="footer-left">
        <a
          class="logo logo-footer"
          href="./"
          rel="noopener noreferrer"
          aria-label="YOUR ENERGY"
        >
          <svg width="132" height="24">
            <use href="./img/icons.svg#logo"></use>
          </svg>
        </a>
        <div class="icon-row icon-row-black">
          <a
            href="https://www.facebook.com/goITclub/"
            class="icon icon-facebook"
          >
            <svg aria-hidden="true" width="28" height="28">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://www.instagram.com/goitclub/"
            class="icon icon-instagram"
          >
            <svg aria-hidden="true" width="28" height="28">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
          <a href="https://www.youtube.com/c/GoIT" class="icon icon-youtube">
            <svg aria-hidden="true" width="28" height="28">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="footer-column-wrapper">
        <div class="footer-center">
          <h2 class="slogan">Transforming your <em>body</em> shape with us</h2>
        </div>

        <div class="footer-right">
          <form class="subscribe-form">
            <label class="description" for="email"
              >Subscribe and learn about new exercises!</label
            >
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copy">
        <p>Your Energy. All rights reserved.</p>
      </div>
      <div class="footer-text-wrapper">
        <div class="footer-links">
          <a href="#">Privacy Policy</a>
          <span>/</span>
          <a href="#">Terms of Service</a>
        </div>
        <div class="footer-date"><p>©2023</p></div>
      </div>
    </div>
  </div>
</footer>
