<section class="hero">
  <div class="container">
    <div class="hero-head">
      <div>
        <h1 class="hero-title">
          <svg class="hero-title-icon">
            <use href="./img/icons.svg#icon-Sun"></use></svg
          >Get <span class="hero-title-italic">Body</span> in shape, Stay
          healthy
        </h1>
        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-tag-wrapper">
        <img
          srcset="
            ./img/hero/hero-tags-img.jpg    1x,
            ./img/hero/hero-tags-img-2x.jpg 2x
          "
          src="./img/hero/hero-tags-img.jpg"
          alt="tags img"
          class="hero-tag-img"
        />
        <ul class="hero-tags top">
          <li class="hero-tag">#Sport</li>
          <li class="hero-tag">#Healthy</li>
          <li class="hero-tag">#Workout</li>
          <li class="hero-tag">#Diet</li>
        </ul>
      </div>
    </div>

    <picture>
      <source
        srcset="
          ./img/hero/hero-img-desc.jpg    1x,
          ./img/hero/hero-img-desc-2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero/hero-img-tab.jpg    1x,
          ./img/hero/hero-img-tab-2x.jpg 2x
        "
        media="(min-width: 376px)"
      />
      <source
        srcset="
          ./img/hero/hero-img-mob.jpg    1x,
          ./img/hero/hero-img-mob-2x.jpg 2x
        "
        media="(max-width: 375px)"
      />
      <img
        class="hero-img"
        src="./img/hero/hero-img-desc.jpg"
        alt="two girls, one exercise"
      />
    </picture>
    <ul class="hero-tags bottom">
      <li class="hero-tag">#Sport</li>
      <li class="hero-tag">#Healthy</li>
      <li class="hero-tag">#Workout</li>
      <li class="hero-tag">#Diet</li>
    </ul>
  </div>
</section>
