<section class="sidebar-container">
  <div class="sidebar-quote-container">
    <div class="sidebar-quote-ranner-icon-container">
      <svg
        class="sidebar-quote-ranner-svg"
        viewBox="0 0 32 32"
        height="30"
        width="32"
        aria-hidden="true"
      >
        <use x="0" y="0" href="./img/icons.svg#icon-running"></use>
      </svg>
    </div>

    <div class="sidebar-quote-wrapper">
      <div class="sidebar-quote-title-wrapper">
        <h3>Quote of the day</h3>
        <svg
          class="sidebar-quote-commas-svg"
          viewBox="0 0 32 32"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use x="0" y="0" href="./img/icons.svg#icon-commas"></use>
        </svg>
      </div>
      <div class="sidebar-quote"></div>
      <div class="sidebar-quote-author"></div>
    </div>
  </div>
  <picture class="fav-picture">
    <source
      media="(min-width: 1440px)"
      srcset="
        ./img/sidebar/sidebar-img-desktop@1x.jpg 1x,
        ./img/sidebar/sidebar-img-desktop@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/sidebar/sidebar-img-tablet@1x.jpg 1x,
        ./img/sidebar/sidebar-img-tablet@2x.jpg 2x
      "
    />
    <img
      class="sidebar-quote-image"
      width="335"
      height="242"
      srcset="
        ./img/sidebar/sidebar-img-mobile@1x.jpg 1x,
        ./img/sidebar/sidebar-img-mobile@2x.jpg 2x
      "
      src="./img/sidebar/sidebar-img-mobile@1x.jpg"
      alt="sidebar-container"
      loading="lazy"
    />
  </picture>
  <div class="sidebar-sports-info">
    <div class="sidebar-quote-dumbbell-svg-container">
      <svg
        class="sidebar-quote-dumbbell-svg"
        viewBox="0 0 32 32"
        height="30"
        width="32"
        aria-hidden="true"
      >
        <use x="0" y="0" href="./img/icons.svg#icon-dumbbell"></use>
      </svg>
    </div>

    <div class="sidebar-sports-wrapper">
      <p class="sidebar-time">110 min</p>
      <p class="sidebar-norm-sport">Daily norm of sports</p>
      <p class="static-info">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</section>
