#main-content-favourites {
  margin-top: 20px;
}


#favourites {
  padding-top: 40px;
}


@media (min-width: 768px) {
  #main-content-favourites {
    margin-top: 64px;
  }
}

@media (min-width: 1440px) {
  #main-content-favourites {
    margin-top: 0;
  }
}

.main-section .sidebar-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.sidebar-container .sidebar-quote-container {
  grid-area: 1 / 1 / 2 / 3;
}
.sidebar-container .fav-picture {
  grid-area: 2 / 2 / 3 / 3;
}
.sidebar-container .sidebar-sports-info {
  grid-area: 2 / 1 / 3 / 2;

  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.main-section .static-info {
  display: none;
}

.main-content-favourites {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.favourites-not-found {
  padding: 20px 8px 0;
  line-height: 18px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .sidebar-container-favoutite {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 140px;
  }
  .sidebar-container-favoutite .sidebar-quote-container {
    grid-column: span 2 / span 2;
  }
  .sidebar-container-favoutite .fav-picture {
    aspect-ratio: unset;
  }
  .favourites-not-found {
    padding: 132px 75px 90px;
  }
  .main-content-favourites {
    padding-bottom: 100px;
  }
  #favourites {
    padding-top: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  
  .main-content-favourites {
    padding-bottom: 63px;
    display: grid;
    align-items: start;
    grid-template-columns: 494px auto;
    /* gap: 32px; */
  }
  .favourites-not-found {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .favourites-not-found p {
    max-width: 554px;
    width: 100%;
  }
  #favourites {
    width: 100%;
    padding-top: 0;
  }
  .exercise-list {
    height: 520px;
    overflow-y: auto;
    padding-top: 16px;
    margin-top: -16px;
    padding-right: 16px;
    padding-left: 32px;
    margin-right: -16px;
  }
}
