/*Import shared styles here*/
@import 'modern-normalize/modern-normalize.css';
@import './reset.css';
@import './ui-kit.css';
@import './main-section/index.css';
@import './reset.css';
@import './container.css';
@import './header.css';
@import './menu.css';
@import './hero.css';
@import './sidebar.css';
@import './main-section/footer.css';
@import './modal.css';

:root {
  --white: #ffffff;
  --offwhite: #f4f4f4;
  --light-gray: rgba(244, 244, 244, 0.6);
  --text-dark: #333;
  --quote-text: #d4d4d4;
  --dark-hover: #444;
  --dark: #242424;
  --dark-80: rgba(36, 36, 36, .8);
  --light: #f5f5f5;
  --input-bg: #ffffff;
  --input-border: #ccc;
  --input-border-focus: #888;
  --input-text: #333;
  --placeholder-color: #999;

  --quote-text: #d4d4d4;
  --search-height: 40px;
  --search-border-radius: 20px;
  --button-color: #333;
  --button-hover-bg: #888;
  --nav-bg: #1e1e1e;
  --transition-duration-base: 250ms;
  --transition-ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-base: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --color-border-light: rgba(36, 36, 36, 0.1);
}

body {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  font-size: 14px;
}

a {
  color: currentcolor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  display: block;
  padding: 0;
  background-color: transparent;
}

.error-message {
  color: #eea10c;
  font-size: 1.5rem;
  text-align: center;
}
